<div class="container mt-4 border">
  <div class="container-content">
    <h1 class="m-3">Welcome <%= @the_user.username %></h1>
    <div class="m-3">
      <ul>
        <li><a class="text-white" href="/ai_messages">Create a workout!</a></li>
      </ul>
    </div>
  </div>
</div>

<div>
<table class="table table-bordered mb-3">
  <tr>
    <th scope="col">
      Workout
    </th>

    <th scope="col">
      Created at
    </th>

    <th scope="col">
      More info
    </th>
  </tr>

  <% @user_workouts.each do |workout| %>
    <tr>  
      <td>
        <%= simple_format(workout.content) %>
      </td>

      <td>
        <%= time_ago_in_words(workout.created_at) %> ago
      </td>

      <td>
        <a class="text-white" href="/ai_messages/<%= workout.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
