<div class="container mt-4 border">
  <div class="container-content">
    <h1 class="m-3 text-center">Welcome to Get Bodied</h1>
    <div class="m-3">
    <div  >
       <p class="text-center">
        Transform your fitness journey with personalized guidance by ChatGPT
      </p>
    </div>
     
      <span>
        <ul>
          <li>Create a workout <a href="/ai_messages">here!</a></li>
        </ul>
      </span>
        <p>Here are some examples of how you can create a workout or ask for fitness advice:</p>
      <span>
          <ul>
            <li>
              "What are some effective exercises for targeting my abs?"
            </li>
            <li>
              "Can you recommend a high-intensity workout for weight loss?"
            </li>
            <li>
              "What should I eat before and after my workout for maximum energy and muscle recovery?"
            </li>
            <li>
              "How can I improve my flexibility and prevent muscle tightness?"
            </li>
            <li>
              "What are some healthy snack options that support my fitness goals?"
            </li>
            <li>
              "Can you suggest a workout routine for beginners?"
            </li>
            <li>
              "What are some ways to prevent workout injuries?"
            </li>
            <li>
              "Can you recommend exercises that target specific muscle groups, like the glutes or shoulders?"
            </li>
          </ul>
      </span>
    </div>
</div>
