<div class="container mt-4 border">
  <div class="container-content">
    <h1 class="m-3 text-center">Welcome to Get Bodied</h1>
    <div class="m-3">
    <div  >
       <p class="text-center">
        Transform your fitness journey with personalized guidance by ChatGPT
      </p>
    </div>
     
      <span>
        <ul>
          <li>Create a workout! <a href="/ai_messages">select</a></li>
        </ul>
      </span>
    </div>
</div>
