<div class="container-sm">
<form action="/insert_user" method="post">
    <h1 class="h3 fw-normal mb-3 text-white text-center">Sign up</h1>

    <div class="form-floating mb-3  ">
      <input type="email" class="form-control " id="email_box" name="query_email" placeholder="Choose a email...">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input text="username" class="form-control" id="username" name="query_username" placeholder="Choose a username...">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control"  id="password_box" name="query_password" placeholder="Choose a password...">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password...">
      <label for="floatingPassword">Password Confirmation</label>
    </div>


    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    <input type="hidden" id="ai_messages_count_box" name="query_ai_messages_count">
  </form>
  </div>
<hr>
<p class="text-white text-center">
  Or, <a class="text-white text-center" href="/user_sign_in">Sign in</a> instead.
</p>
     <p class="mt-3 mb-3 text-white text-center">
  Get Bodied ©2023
    </p>
