<div class="container">
  <div class="form-signin">
    <div class="col-xs-4">
      <form action="/user_verify_credentials" method="post">
        <div>
          <h1 class="h3 mb-3 fw-normal text-center link-light text-white">Sign in</h1>
          <div class="d-flex justify-content-center">
            <div class="form-group w-25 p-3">
              <input type="email" class="form-control" id="email_box" name="query_email" placeholder="name@example.com" required autofocus>
              <label for="email_box">Email address</label>
            </div>
            <div class="form-group w-25 p-3">
              <input type="password" class="form-control text-secondary" id="password_box" name="query_password" placeholder="Password">
              <label for="password_box">Password</label>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-lg btn-dark">Sign in</button>
          </div>
        </div>
      </form>
    </div>
    <p class="text-white text-center">
      Or, <a class="link-light text-white" href="/user_sign_up">Sign up</a> instead.
    </p>
    <p class="mt-3 mb-3 text-white text-center">
      Get Bodied ©2023
    </p>
  </div>
</div>
